<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PathToTestDb" value="Data/test.litedb" />
		<add key="PathToDbs" value="Data"/>
		<add key="StandardCveUrlPlusTag" value="https://github.com/CVEProject/cvelistV5.git"/>
		<add key="CloneFinished" value="false"/>
	</appSettings>
</configuration>