<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PathToTestDb" value="Data/test.litedb" />
		<add key="StandardCveUrlPlusTag" value="https://github.com/CVEProject/cvelistV5/tree/cve_2023-12-31_2300Z"/>
		<add key="CloneFinished" value="false"/>
	</appSettings>
</configuration>