<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVE Result JSON-LD</title>
</head>
<body>
    <h1>CVE Result JSON-LD</h1>

    <h3>CveNumber</h3>
    <label>
        String Wert, der die CVE-Nummer aus den offiziellen Datensatz der Mitre-Cooperation angibt.
    </label>

    <h3>Version</h3>
    <label>
        Betroffene Version, die beachtet werden muss.
    </label>

    <h3>Designation</h3>
    <label>
        Name des Paketes, welches untersucht wurde
    </label>
</body>
</html>